.sidebar {
  position: fixed;
  top: 200;
  left: -100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  transition: all ease 0.2s;
  &--open {
    left: 10px;
    right: auto;
  }
}
:host {
  display: block;
  min-height: 100%;
}


.example-container {
  width: 100%;
  min-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.example-sidenav {
  padding: 20px;
  width: 200px;
}

.example-spacer {
  flex: 1 1 auto;
}
